<mat-toolbar color="primary">
  <span>Voting Application</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="main-card">

  <mat-card class="my-card">
    <mat-card-title>Add a Link</mat-card-title>
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" name="title">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" name="link">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="submit-button">
      <button mat-raised-button color="primary">Submit Link</button>
    </mat-card-actions>
  </mat-card>
</div>
