<mat-toolbar color="primary">
  <span>Voting Application</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="main-card">
  <mat-card class="my-card">
    <mat-card-title>Add a Link</mat-card-title>
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" name="title">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" name="link">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="submit-button">
      <button mat-raised-button color="primary">Submit Link</button>
    </mat-card-actions>
  </mat-card>
</div>
<div style="margin: 10px 10px 10px 10px; display: flex; flex-wrap: wrap;">
  <mat-card style="width: 300px; margin: 5px 5px 5px 5px; border: 1px solid;">
    <mat-card-title-group>
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Link</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div style="display: flex; flex-direction: column; height: 140px; justify-content: center; align-items: center;">
        <h1 style="font-size: 70px;">1</h1>
        <p style="font-size: 30px;">Points</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div style="display: flex; justify-content: end;">
        <div style="display: flex; justify-content: end;">
          <button mat-icon-button color="primary">
            <mat-icon>thumb_up</mat-icon>
          </button>

          <button mat-icon-button color="primary">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </div>


      </div>
    </mat-card-actions>
  </mat-card>


</div>
