<mat-toolbar color="primary">
  <span>Voting Application</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="main-card">
  <mat-card class="my-card">
    <mat-card-title>Add a Link</mat-card-title>
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" name="title">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Link</mat-label>
          <input matInput placeholder="Link" name="link">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="submit-button">
      <button mat-raised-button color="primary">Submit Link</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="main-container">
  <ng-container *ngIf="votingList.length > 0">
    <ng-container *ngFor="let voteObj of votingList">
      <mat-card class="voting-card">
        <mat-card-title-group>
          <mat-card-title>{{voteObj.title}</mat-card-title>
          <mat-card-subtitle>{{voteObj.link}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <div class="voting-card-content">
            <h1>{{voteObj.voteCount}}</h1>
            <p>Points</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="voting-card-action-buttons">
            <button mat-icon-button color="primary">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>

  </ng-container>

</div>
